<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Ups!</h1>
    <p class="secret-text">Username or password is not correct</p>
    <hr>

    <a class="btn btn-light btn-lg" href="/" role="button">Home</a>
    <a class="btn btn-dark btn-lg" href="/register" role="button">Try Again</a>
  </div>
</div>

<%- include('partials/footer') %>